@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Meu Agro</h1>
    <p>Encontre aqui todos os credenciados para serviços do agronegócio especializados </p>
</div>
