<div class="text-center pt-5 ">
    <h1 class="display-5 text-success">Ainda não disponibilizamos esta funcionalidade!</h1>

    <h5 class="display-7 pt-2">As notificações irão vir pro ADMIN para aprovar/reprovar! Ele terá poder de pegar pra si.</h5>
    <h5 class="display-7 pt-2">As notificações irão vir pro USER para quando aprovadas/reprovadas!</h5>
</div>
